* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
p{
    margin: 0;
}
a:hover {
    text-decoration: none;
    color: initial;
}

ul {
    margin: 0;
}

/*======================================= header =====================================*/
.header {}

.header__top {
    text-align: center;
    color: white;
    font-family: 'Comfortaa-Regular';
    font-size: 16px;
    background: linear-gradient(90.09deg, #3800AF 0%, #C27500 100%);
    padding: 15px 0;
}

.header__nav {
    background: black;

}

.header_nav_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    color: white;
    font-family: 'Comfortaa-Regular';
    font-size: 18px;
    display: flex;
    align-items: flex-end;
}

.header_logo-text {
    line-height: 14px;
}

.header_nav_list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_nav_list-link {
    display: inline-block;
    margin: 0 18px;
    color: white;
    font-family: 'Montserrat-Regular';
    font-size: 14px;
    transition: 0.5s;
    padding-top: 42px;
    padding-bottom: 36px;
    border-bottom: 6px solid transparent;
}

.header_nav_list-link:hover {
    color: #ED8E00;
    border-bottom: 6px solid #ED8E00;
}

/*======================================= /header =====================================*/

/*======================================= main =====================================*/
.main {
    background: black;
}

.main_top {
    min-height: 80vh;
    background: url(../img/header.png);
    position: relative;
    display: flex;
    flex-direction: column;
}

.main_top_content {
    position: relative;
    z-index: 10;
    justify-content: center;
}

.main_top_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(7, 15, 25, 0.75);
    top: 0;
    left: 0;
}

.main_top_content {}

.main_top_title {
    color: white;
    font-family: 'Montserrat-Regular';
    font-size: 64px;
}

.main_top_text {
    color: #C8C8C8;
    font-family: 'Montserrat-Regular';
    font-size: 16px;
    margin-bottom: 50px;

}

.watch_btn {
    padding: 17px 48px;
    background: #F18128;
    color: black;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    border-radius: 4px;
    margin-right: 30px;
    display: block;
    width: fit-content;

}

.download_btn {
    padding: 17px 48px;
    background: black;
    color: white;
    font-family: 'Roboto-Regular';
    font-size: 14px;
    border-radius: 4px;
    display: block;
    width: fit-content;
}


.main__films {
    padding-top: 60px;
}

.main_films-title {
    color: #F18128;
    font-family: 'Comfortaa-Regular';
    font-size: 36px;
    border-bottom: 2px solid #F18128;
    padding-bottom: 10px;
    display: inline-block;
    margin-bottom: 40px;
}

.main_films_cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-content: space-between;
    align-items: center;
    margin-bottom: 71px;
}

.main_films_item {
    width: fit-content;
}

.main_films_video {
    min-height: 380px;
    max-width: 264px;
    border-radius: 6px;
}

.black_widow {
    height: 500px;
    margin-bottom: 60px;
    display: flex;
}

.black_widow_poster {
    height: 100%;
    width: 100%;
position: relative;
display: flex;
justify-content: flex-end;
    
}


.widow_poster-img {
    height: 100%;
    width: fit-content;
}
.poster_layout{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(90deg, #DEF7FF 0%, #F4FCFF 45.64%, rgba(255, 255, 255, 0) 100.72%);
border-radius: 6px;
}
.blackWidow_logo{
    margin-bottom: 50px;
}
.blackWidow_text{
    text-align: justify;
    color: black;
    font-family: 'Roboto-Regular';
    font-size: 16px;
    margin-bottom: 55px;
}

.video_widow{
    height: 0;
}
/*======================================= /main =====================================*/

/*======================================= footer =====================================*/

/*======================================= /footer =====================================*/