@media(max-width:1200px){
    .main_films_cards{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 20px;
        justify-content: space-between;
        align-items: center;
    }
}